<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
<meta charset="UTF-8"/>
<title>Upload Multi File</title>
<link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<script src="/js/jquery-3.1.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
  <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"></link>
<script type="text/javascript">
function genPDF()
{
 html2canvas(document.getElementById("formConfirmation"),{
 onrendered:function(canvas){

 var img=canvas.toDataURL("image/png");
 var doc = new jsPDF();
 doc.addImage(img,'JPEG',20,	20);
 doc.save('test.pdf','/java/');
 }

 });
}
function capture() {
    //$('#container').html2canvas({
    $('#formConfirmation').css('padding','100px');
 html2canvas(document.getElementById("formConfirmation"),{
 onrendered:function(canvas){
            //Set hidden field's value to image data (base-64 string)
            $('#img_val').val(canvas.toDataURL("image/png"));
            //console.log(canvas.toDataURL("image/png"));
            //Submit the form manually
            document.getElementById("myForm").submit();
        }
    });
}
</script>
</head>
<link rel="stylesheet" href="/css/certification.css"/>
<body>
<form method="POST" enctype="multipart/form-data" action="/Test" id="myForm">
          <input type="hidden" name="img_val" id="img_val" value="" />
      </form>
<div class="centered">
<div id="formConfirmation">
<h1>文書保管証明書</h1>
<div style="float: right">
<img src="/images/file.png" style="width:150px;height:150px"/>
</div>
<br />
<p>表記の文書ファイルは確かに文書保管システムに保管され、文書保管開始日より証明書発行日の間、安全に保管され 改変されていないことを証明します。</p>   
<p style="float: left">文書保管開始日: </p><p th:text="${creationTime}"></p>           
<p style="float: left">証明書発行日: </p><p th:text="${creationTime}"></p>          
<p style="float: left">所有者ID: </p><p th:text="${username}"></p>
<p style="float: left">保管文書名: </p><p th:text="${path}"></p>        
<div class="container main-content list">
<h2>保管ファイル一覧</h2>
<div th:each="file : ${files}">
<div style="float: left">
<img src="/images/noqualified.png" style="width:40px;height:40px" />
</div> 
 <p th:text="${file}"></p><p th:text="${creationTime1}"></p>
</div>
<br />
<div th:each="file2 : ${files2}"> 
<div style="float: left">
<img src="/images/qualified.png" style="width:40px;height:40px" />
</div>
  <p th:text="${file2}"></p><p th:text="${creationTime2}"></p>
</div>
</div>
<div style="float: right">
<img src="/images/syomei.png" alt="Mountain View" style="width:100px;height:80px"/>
</div>
</div>
</div>
<button onclick="capture()"> Export PDF </button>
</body>
</html>