<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
 <meta charset="utf-8"></meta>
</head>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
  <link rel="stylesheet" href="/resources/demos/style.css"></link>  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  

<body>
    <nav th:replace="layout :: header"></nav>
    <div class="container main-content left">   
		<div class="row">
      
      <h3><strong>手動入力による案件登録</strong></h3><br/><br/>  
       <form action="#" th:action="@{/finderInfo/save}" th:object="${finderInfo}" method="POST" >
		<input type="hidden" th:field="*{id}" />    
		<input type="hidden" id="username" name="username" th:value="${username}"/>
		<input type="hidden" id="password" name="password" th:value="${password}"/>
		
	<table>
		<tr><th>担当局名</th>
			<th>       </th>
			<th>受付番号</th>
			
		</tr>
		<tr ALIGN="CENTER">	
			<td WIDTH="100">  
		    <div class="form-group" style="width:200px;">		        
		        <input type="text" id="area" name="area" th:value="${area}" class="form-control"/>		        		        
		    </div>		    
			</td>
			
			<td WIDTH="100"></td>			
			
			<td WIDTH="100">
			<div class="form-group" style="width:200px;">						
		       <input type="text" id="recepti" name="recepti" th:field="*{recepti}" oninvalid="this.setCustomValidity('受付番号は整数および、半角で入力してください')"
 						oninput="setCustomValidity('')" pattern="\d*" maxlength="9" th:errorclass="fieldError" th:required="required" class="form-control"/>						              
		   </div>		  
		       
          <div th:if="${InvalidRecepti}" class="row alert alert-success alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
						<span th:text="${InvalidRecepti}"></span>
						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>	    
		   
		    </td>
		    </tr>
		    
		    
		    <tr><th>受付年月日</th>
		    	 <th>        </th>
		    	 <th>原因</th>
		    </tr>
		    <tr ALIGN="CENTER">
		    <td>
		    <div class="form-group" style="width:200px;">				
		       <input type="text" id="datepicker" th:field="*{date}" oninvalid="this.setCustomValidity('受付年月日を入力してください')"
 						oninput="setCustomValidity('')" th:required="required" class="form-control"/>
		       <span class="glyphicon form-control-feedback" aria-hidden="true"></span>	       
		   </div>
		   </td>
		   
		   <td WIDTH="100"></td>
		   
		   <td> 
		   	<div class="form-group" style="width:200px;">				
		       <input type="text" th:field="*{cause}" oninvalid="this.setCustomValidity('原因を入力してください')"
 						oninput="setCustomValidity('')" th:required="required" class="form-control"/>
		       <span class="glyphicon form-control-feedback" aria-hidden="true"></span>	       
		   </div>		   
		   </td>
		   </tr>
		    
		    <tr><th>不動産番号</th>
		    	 <th>        </th>
		    	 <th>地番</th>
		    </tr>
		    <tr ALIGN="CENTER">
		    <td>		    
		    <div class="form-group" style="width:200px;">		         
		        <input type="text" pattern="\d*" maxlength="9" th:field="*{estate}" class="form-control"/> 
		    </div>
		    </td>
		    
		    <td WIDTH="100"></td>
		    
		    <td>
		    <div class="form-group" style="width:200px;">		        
		        <input type="text" pattern="\d*" maxlength="9" th:field="*{lotnumber}" class="form-control"/>
		    </div>
		    </td>
		    </tr>
		    
		    
		    <tr><th>家屋番号</th>
		    	 <th>		 </th>
		    	 <th>保管フォルダ名(半角)</th>
		    </tr>
		    <tr ALIGN="CENTER">
		    <td>
		    <div class="form-group" style="width:200px;">		         
		        <input type="text" pattern="\d*" maxlength="9" th:field="*{house}" class="form-control"/> 
		    </div>
		    </td>
		    
		    <td WIDTH="100">
		    <div class="form-group" style="width:200px;"></div>
		    </td>
		    
		    <td>
		    <div class="form-group" style="width:200px;">				
		       <input type="text" th:field="*{folderpath}" oninvalid="this.setCustomValidity('フォルダ名を入力してください')"
 						oninput="setCustomValidity('')" th:required="required" class="form-control"/>
		       <span class="glyphicon form-control-feedback" aria-hidden="true"></span>	       
		    </div>          
		    
		    <div th:if="${InvalidFolder}" class="row alert alert-success alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
						<span th:text="${InvalidFolder}"></span>
						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>			
			</td>
			</tr>	
	</table>
		    <br/>		    
		    <button type="submit" class="btn btn-primary block full-width m-b">NEXT >></button>		    
</form>
</div>        
</div><!-- /.container -->  
     
  <!-- script fill date -->
  <script>
  		$( function() {  			
  	  		$( '#datepicker' ).datepicker({dateFormat: "yy年mm月dd日"});				
  			} );
  </script>  
  	
  	
	
  <!-- Bootstrap Validator plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
   	
  <footer th:replace="layout :: footer"></footer>
</body>
</html>
