<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head">
<meta charset="utf-8"></meta>
</head>


<body>
<form action="#" th:action="@{/finderInfo/xmlupload}" th:object="${finderInfo}" enctype="multipart/form-data" method="POST" >
<div class="form-group">
	<label>Folder Path</label><br/>
	<input type="text" th:field="*{folderpath}" th:required="required"/><br/> 
   <label for="file">Choose file to upload</label>
   <input type="file" id="file" name="file" accept=".xml"></input>
 </div>
 <div>
   <button>Submit</button>
 </div>
</form>
</body>

</html>